<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>clinic-web</display-name>
  
  <welcome-file-list>
    <welcome-file>Login.xhtml</welcome-file>
  </welcome-file-list>
  
  <!-- 
  	*************************************************************************
  	**************************** Seguranca JAAS **************************** 
  	*************************************************************************	
  -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/Login.xhtml</form-login-page>
      <form-error-page>/Access-denied.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  
  <security-role>
    <role-name>operator</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  
  <!-- Segurança do Sistema -->
  <security-constraint>
  	<display-name>Modulo Seguranca</display-name>
    <web-resource-collection>
      <web-resource-name>Acesso full</web-resource-name>
      <url-pattern>/main/Main.xhtml</url-pattern>
      <url-pattern>/security/UserList.xhtml</url-pattern>
      <url-pattern>/security/UserView.xhtml</url-pattern>
      <url-pattern>/security/UserCreate.xhtml</url-pattern>
      <url-pattern>/security/UserUpdate.xhtml</url-pattern>
      <url-pattern>/security/RoleList.xhtml</url-pattern>
      <url-pattern>/security/RoleView.xhtml</url-pattern>
      <url-pattern>/security/RoleCreate.xhtml</url-pattern>
      <url-pattern>/security/RoleUpdate.xhtml</url-pattern>
      <url-pattern>/security/ProfileList.xhtml</url-pattern>
      <url-pattern>/security/ProfileView.xhtml</url-pattern>
      <url-pattern>/security/ProfileCreate.xhtml</url-pattern>
      <url-pattern>/security/ProfileUpdate.xhtml</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin.security</role-name>
    </auth-constraint>
  </security-constraint>
  
  <!-- Main -->
  <security-constraint>
    <display-name>All</display-name>
    <web-resource-collection>
      <web-resource-name>Pagina Principal</web-resource-name>
      <url-pattern>/main/Main.xhtml</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>main</role-name>
    </auth-constraint>
  </security-constraint>
  
  
  <!-- Cadastro Patients -->
  <security-constraint>
  	<display-name>Modulo Cadastro Pacientes</display-name>
    <web-resource-collection>
      <web-resource-name>Acesso Consulta</web-resource-name>
      <url-pattern>/registration/PatientList.xhtml</url-pattern>
      <url-pattern>/registration/PatientView.xhtml</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>patient.registration.read</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
  	<display-name>Modulo Cadastro Pacientes</display-name>
    <web-resource-collection>
      <web-resource-name>Acesso Criacao</web-resource-name>
      <url-pattern>/registration/PatientCreate.xhtml</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>patient.registration.create</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
  	<display-name>Modulo Cadastro Pacientes</display-name>
    <web-resource-collection>
      <web-resource-name>Acesso Alteracao</web-resource-name>
      <url-pattern>/registration/PatientUpdate.xhtml</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>patient.registration.update</role-name>
    </auth-constraint>
  </security-constraint>
 
 <!-- Cadastro Doctors -->
 <!-- Cadastro medical specialties -->
 <!-- Cadastro ... -->
 
    <!-- Parametros de contexto -->
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>#{temaMBean.tema}</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.FONT_AWESOME</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
  	<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.omnifaces.COMBINED_RESOURCE_HANDLER_CACHE_TTL</param-name>
    <param-value>3628800</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
    <param-value>0</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <!-- CDI -->
 <!--  <resource-env-ref>
    <resource-env-ref-name>BeanManager</resource-env-ref-name>
    <resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
  </resource-env-ref> 
  
   <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener> --> 
  
  
  <!-- Paginas de erro -->
  <error-page>
    <error-code>500</error-code>
    <location>/main/Main.xhtml</location>
  </error-page>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/Login.xhtml</location>
  </error-page>
  
  
</web-app>